.item {
  padding: 10px;
}
.item > div {
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  transform: scale(0.95);
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: 0.3s ease-in-out;
}

.item > div:hover {
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--border);
}

@media (min-width: 768px) {
  .item {
    padding: 20px;
  }
}
